.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}
.Helplist-panel {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 80%;
  height: 500px;
  background-color: #FFFDEF;
  border-radius: 12px;
  padding: 32px;
}
.Help{
  position: absolute;
  top: 30px;
  left: 150px;
  color: #FFFDEF;
  font-size: 50px;
  font-weight: 800;
}
.h1{
    position : absolute;
    top : 200px;
    left :200px;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}
.h2{
    position : absolute;
    top : 240px;
    left :200px;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}
.h3{
    position : absolute;
    top : 280px;
    left :200px;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}
.h4{
    position : absolute;
    top : 360px;
    left :200px;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}
.h5{
    position : absolute;
    top : 400px;
    left :200px;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}
.h6{
    position : absolute;
    top : 460px;
    left :200px;
  margin: 0 0 30px 0;
  color: #8b6f4f;
  font-size: 15px;
  font-weight: 800;
}

.imgh{
    position : absolute;
    left : 1150px;
    top : 530px;
    width: 10%;
    height: 150px;
  border-radius: 12px;
  padding: 32px;
  opacity: 0.7;
}
.hgobackbutton {
  position: absolute;
  top:550px;
  left :200px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}
@media (max-width: 480px) {
  .background {
    padding: 0 12px;
    text-align: center;
  }


  .Help {
    position: static;
    margin-top: 24px;
    font-size: 32px;
  }


  .Helplist-panel {
    position: static;
    width: 92vw;
    max-width: 520px;
    height: 60vh;
    margin: 16px auto 0;
    padding: 16px;
    overflow-y: auto;
  }

  .h1, .h2, .h3, .h4, .h5, .h6 {
    position: static;
    margin: 12px 0;
    text-align: left;
    font-size: 14px;
  }


  .hgobackbutton {
    position: static;
    display: block;
    width: 92vw;
    max-width: 520px;
    padding: 12px 16px;
    margin: 12px auto 0;
    font-size: 16px;
    border-radius: 10px;
  }


  .imgh {
    display: none;
  }
}
