* { box-sizing: border-box; }

.title-screen{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}

.title {
    position: absolute;
  top: 150px;
  left: 200px;
  color: #FFFDEF;
  font-size: 48px;
  font-weight: 800;
}


.start{
  position: absolute;
  top: 300px;      
  left: 200px;
  color: #FFFDEF;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;          
}

@media (max-width: 480px) {
  .title {
    position: static;     /* absolute解除 */
    margin-top: 120px;
    font-size: 32px;
  }

  .start {
    position: static;     /* absolute解除 */
    margin-top: 24px;
    font-size: 20px;
  }

  .title-screen {
    text-align: center;   /* 中央寄せ */
    padding: 0 16px;
  }
}
