* { box-sizing: border-box; }

.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}
.otsukare{
  position: absolute;
  top: 250px;
  left: 250px;
  color: #FFFDEF;
  font-size: 30px;
  font-weight: 800;
}
.congrats{
  position: absolute;
  top: 260px;
  left: 250px;
  color: #FFFDEF;
  font-size: 50px;
  font-weight: 800;
}
.endbutton {
  position: absolute;
  top:330px;
  left :600px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #9cc3c4;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}