* { box-sizing: border-box; }

.title-screen{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}

.title{
  position: absolute;
  top: 150px;
  left: 200px;
  color: #FFFDEF;
  font-size: 60px;
  font-weight: 800;
}

.start{
  position: absolute;
  top: 300px;      
  left: 200px;
  color: #FFFDEF;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;          
}

.image4{
  position: absolute;
  top: 400px;
  left: 150px;
  width: 60%;
  height: 400px;
  border-radius: 12px;
  padding: 32px;
}