* { box-sizing: border-box; }

.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}

.input{
  position: absolute;
  top:150px;
  left :150px;
  padding: 10px 80px;
  border: none;
  border-radius: 2px;
  background: #FFFDEF;
  color: #4c5153;
  cursor: pointer;
  font-size: 15px;
  font-weight :800;
}
.inputbutton {
  position: absolute;
  top:150px;
  left :600px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #9cc3c4;
  cursor: pointer;
  font-size: 15px;
  font-weight:800;
}
.Searchlist-panel {
  position: absolute;
  top: 250px;
  left: 150px;
  width: 70%;
  height: 400px;      
  background-color: #FFFDEF;
  border-radius: 12px;
  padding: 32px;
  overflow-y: auto;    
}

.itemword,
.itempage,
.meaning,
.category,
.esentence,
.jsentence {
  position: static;
  margin:  20px 0;
  color: #4c5153;
  font-size: 15px;
  font-weight: 800;
}

.itemword {
  font-size: 25px;
  margin-bottom: 16px;
}

.esentence { margin-top: 20px; }

.srgoback{
  position: absolute;
  top: 130px;
  left: 750px;
  color: #FFFDEF;
  font-size: 20px;
  font-weight: 800;
}
.srgobackbutton {
  position: absolute;
  top:150px;
  left :880px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #9cc3c4;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}
