* { box-sizing: border-box; }

.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}
.testpagelist-panel{
  position:relative;
  margin-top: 180px;
  margin-left: 150px;
  width: 80%;
  min-height: 300px;   
  background-color: #FFFDEF;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pj{
  margin: 0 0 8px 0;
  color: #4c5153;
  font-size: 15px;
  font-weight: 800;
}
.pe{
  margin: 0 0 8px 0;
  color: #4c5153;
  font-size: 15px;
  font-weight: 800;
}

.cand-row {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.cand {
  color: #4c5153;
  font-size: 15px;
  font-weight: 800;
}

.topcand {
  margin-top: 16px;
}
.choosebutton {
  position : absolute;
  left : 400px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
}
.goprevbutton{
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
}
.gonextbutton{
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
}
.goidxxxbutton{
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
}
.correct-wrapper {
  position : absolute;
  top:50%;
  left : 50%;
  transform:translate(-40%,-10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.4s ease forwards;
}

.correct-circle {
  width: 80px;
  height: 80px;
  margin-top : 0;
  border: 15px solid #e48c8c;
  border-radius: 50%;
  animation: pop 0.6s ease-out;
}

.correct-text { 
  margin-top:12px;
  font-size: 24px;
  color: #e48c8c;
  animation: fadeUp 0.6s ease-out 0.2s backwards;
  font-weight:800;
}
.wrongwrapper {
  position : absolute;
  top:50%;
  left : 50%;
  transform:translate(-40%,-10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.4s ease forwards;
}

.wrong-x {
  margin-top: -50;
  font-size: 75px;
  color: #9cc3c4;
  animation: fadeUp 0.6s ease-out 0.2s backwards;
  font-weight:0;
}
.wrong-text {

  font-size: 24px;
  color: #91b3cd;
  animation: fadeUp 0.6s ease-out 0.2s backwards;
  font-weight:800;
}
@keyframes pop {
  0%   { transform: scale(0.5); opacity: 0; }
  60%  { transform: scale(1.15); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeUp {
  0%   { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
