* { box-sizing: border-box; }

.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}
.wordspagelist-panel{
  position:relative;
  margin-top: 180px;
  margin-left: 150px;
  width: 80%;
  height: 500px;   
  background-color: #FFFDEF;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow : hidden;
}
.wtd{
  position: absolute;
  top: 30px;
  left: 150px;
  color: #FFFDEF;
  font-size: 50px;
  font-weight: 800;
}
.words-container{
    flex:1;
    overflow-y:hidden;
    padding-right:8px;
}
.words-row {
  margin: 0;
}
.words{
    color : #4c5153;
    font-size : 15px;
    font-weight:800;
    margin-top:-3px;
}
.wordss{
  display : grid;
  grid-template-columns : 1fr 1fr;
  column-gap : 24px;
  row-gap : 3px;
  margin-top:0;
}
.page{
  margin: 0 0 8px 0;
  color: #4c5153;
  font-size: 20px;
  font-weight: 800;
}
.goprevwbutton{
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
}
.gonextwbutton{
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #9cc3c4;
  color: #FFFDEF;
  cursor: pointer;
  font-size: 14px;
  font-weight:800;
  margin-top:24px;
}
