* { box-sizing: border-box; }

.background{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#9cc3c4;
  overflow: hidden;       
}
.Inflist-panel {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 80%;
  height: 500px;
  background-color: #FFFDEF;
  border-radius: 12px;
  padding: 32px;
}
.information{
  position: absolute;
  top: 30px;
  left: 150px;
  color: #FFFDEF;
  font-size: 50px;
  font-weight: 800;
}
.No1{ position: absolute;
  top: 230px;
  left: 200px;
  color: #9cc3c4;
  font-size: 20px;
  font-weight: 800;
}
.goback{
  position: absolute;
  top: 70px;
  left: 550px;
  color: #FFFDEF;
  font-size: 20px;
  font-weight: 800;
}
.gobackbutton {
  position: absolute;
  top:90px;
  left :680px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #9cc3c4;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}
.image3 {
  position: absolute;
  top: 500px;
  left: 800px;
  width: 15%;
  height: 200px;
  border-radius: 12px;
  padding: 32px;
}