.app{
  text-align : center;
  padding : 300px;
}

.title{
  color : #ac1257;
  font-size : 48px;
  font-weight : 400;
}
.box{
  color : rgb(210, 152, 152);
  background-color : rgb(245, 241, 241);
  font-weight : 900;
  border : 3px solid #d58a8a;
  border-radius:10px;
  padding:20px;
  margin:90px auto;
  width :400px;

}
