
* { box-sizing: border-box; }
.main-title{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#b4ccab;
  overflow: hidden;       
}
.today{
  position: absolute;
  top: 20px;
  left:200px;
  color: #FFFDEF;
  font-size: 70px;
  font-weight: 800;
}
.list-panel {
  position: absolute;
  top: 180px;
  left: 200px;
  width: 60%;
  height: 400px;
  background-color: #e7e3cf;
  border-radius: 12px;
  padding: 32px;
}

.main-title{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#b4ccab;
  overflow: hidden;       
}
.todolist {
  position : absolute;
  top: 220px;
  left:220px;
  color: #937924;
  font-size: 15px;
  font-weight: 800;
  font-family: "Corporate Mincho", "游明朝", serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: auto;                  
  gap: 20px 10px;                  
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
}


.todolist li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0; 
  padding: 0
}
.goedit{
  position: absolute;
  top: 600px;
  left:200px;
  color: #FFFDEF;
  font-size: 20px;
  font-weight: 800;
  
}
.goeditbutton {
  position: absolute;
  top:624px;
  left :320px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #937924;
  cursor: pointer;
  font-size: 10px;
}
.gotitle{
  position: absolute;
  top: 600px;
  left:400px;
  color: #FFFDEF;
  font-size: 20px;
  font-weight: 800;
}
.gotitlebutton{
  position: absolute;
  top:624px;
  left :550px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #937924;
  cursor: pointer;
  font-size: 10px;

}
.donebutton {
  position: static;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background: #FFFDEF;
  color: #937924;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
}