* { box-sizing: border-box; }

.title-screen{
  width: 100%;
  height: 100vh;          
  position: relative;
  text-align: left;
  padding: 0 24px;        
  background-color:#b4ccab;
  overflow: hidden;       
}

.title{
  position: absolute;
  top: 50px;
  left: 200px;
  color: #FFFDEF;
  font-size: 80px;
  font-weight: 800;
}

.start{
  position: absolute;
  bottom: 400px;      
  left: 600px;
  color: #FFFDEF;
  font-size: 40px;
  font-weight: 600;
  margin-top: 0;           /* 余計な押し出しを防ぐ */
}

